
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'CircularARegular';
  src: url('.../../../../public/font/Euclid Circular A Regular.ttf') format('ttf'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@layer base {
  html {
    font-family: 'CircularARegular', sans-serif;
  }
}